* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    margin: 40px auto 60px;
    max-width: 800px;
    background: rgb(248, 248, 248);
}

header {
    position: relative;
}

main {
    position: relative;
    padding: 30px 0px;
}

footer {
    align-items: center;
    margin: 0 auto;
    /* max-width: 800px; */
    border-top: 1px solid #999;
}

.real {
    margin-top: 10px;
    margin-bottom: 32px;
    color: #999;
}

#my_photo {
    position: absolute;
    top: -15px;
    right: 5px;
    transform: rotate(-2deg) scale(.9);
}

.logo {
    max-width: 150px;
}



.default-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 12px;
}

.exp-list {
    list-style-type: '-- ';
}


/* ====SIMPLE ELEMENTS==== */

h1 {
    margin: 0 0 0 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #999;
}

h2 {
    margin-bottom: 10px;
}

a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

a:hover {
    border-bottom-style: solid;
    color: black;
}







#summary {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    align-content: flex-start;
    margin: 36px 0;
}

#objective p {
    font-family: Georgia, Serif;
    font-style: italic;
    color: #666;
}

.main_Features__block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 15px;
    margin: 42px 0px; 
}

.main_Features__block h3 {
    width: 20%;
}

.main_Features__block h4 {
    font-size: 16px;
    font-weight: 600;
    color: #999;
}

.main_Features__block div {
    width: 51%;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding: 5px 0;
    color: #999;
}

