@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
.default_h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.default_p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

header {
  min-width: 230px;
  background-color: #BDC3FF;
  border-radius: 40px 0 0 40px;
  padding: 55px 0px 55px 20px;
}
header .header__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 20px;
  border-right: 1px solid #A3AAF5;
}
header .header__container .sideheader__photo_container figure {
  margin: 0;
  text-align: center;
}
header .header__container .sideheader__photo_container figure img {
  filter: drop-shadow(-4px 8px 19px rgba(101, 77, 238, 0.82));
}
header .header__container .sideheader__name_container {
  margin: 15px 0 50px 0px;
}
header .header__container .sideheader__name_container h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
header .header__container .sideheader__menu_container {
  flex-grow: 2;
  display: flex;
  justify-content: center;
}
header .header__container .sideheader__menu_container .main_navigation .main_navigation__item {
  margin-bottom: 42px;
}
header .header__container .sideheader__menu_container .main_navigation .main_navigation__item a {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #000000;
  text-decoration: none;
  border-left: 3px solid transparent;
}
header .header__container .sideheader__menu_container .main_navigation .main_navigation__item a:before {
  content: "";
  height: 24px;
  width: 24px;
  margin-right: 12px;
}
header .header__container .sideheader__menu_container .main_navigation .main_navigation__item #dashboard:before {
  background-image: url(./images/icons/dashboard_alt.svg);
}
header .header__container .sideheader__menu_container .main_navigation .main_navigation__item #product:before {
  background-image: url(./images/icons/cpu.svg);
}
header .header__container .sideheader__menu_container .main_navigation .main_navigation__item #pricing:before {
  background-image: url(./images/icons/bag.svg);
}
header .header__container .sideheader__menu_container .main_navigation .main_navigation__item #docs:before {
  background-image: url(./images/icons/book_open.svg);
}
header .header__container .sideheader__menu_container .main_navigation .main_navigation__item.active a {
  color: #654DEE;
  border-left: 3px solid #654DEE;
}
header .header__container .sideheader__menu_container .main_navigation .main_navigation__item.active a:before {
  filter: invert(27%) sepia(99%) saturate(2144%) hue-rotate(239deg) brightness(94%) contrast(98%);
}
header .header__container .topheader__socials_container {
  position: absolute;
  top: 44px;
  right: 55px;
}
header .header__container .topheader__socials_container .social_navigation ul {
  display: flex;
  column-gap: 20px;
}
header .header__container .topheader__socials_container .social_navigation ul .social_navigation__item a {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}
header .header__container .topheader__socials_container .social_navigation ul .social_navigation__item a:hover {
  filter: invert(27%) sepia(99%) saturate(2144%) hue-rotate(239deg) brightness(94%) contrast(98%);
}
header .header__container .topheader__socials_container .social_navigation ul .social_navigation__item #linkedin {
  background-image: url(./images/icons/linkedin.svg);
}
header .header__container .topheader__socials_container .social_navigation ul .social_navigation__item #github {
  background-image: url(./images/icons/github.svg);
}
header .header__container .topheader__socials_container .social_navigation ul .social_navigation__item #e-mail {
  background-image: url(./images/icons/envelop.svg);
  background-size: 110%;
}

.main__page_content {
  flex-grow: 2;
  display: none;
}
.main__page_content.is-active {
  display: flex;
}
.main__page_content .main__container {
  height: 100%;
}
.main__page_content .main__container.left_container {
  max-width: 580px;
  padding: 55px 30px;
  background-color: #BDC3FF;
}
.main__page_content .main__container.right_container {
  padding: 100px 0px 55px 30px;
  flex-grow: 2;
}

#greeting h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}

#summary {
  margin-top: 80px;
}

#projects_slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#projects_slider .slider__wrapper {
  max-width: 670px;
  margin-left: -70px;
  display: flex;
  column-gap: 25px;
  padding: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
}
#projects_slider .slider__wrapper::-webkit-scrollbar {
  width: 0;
}
#projects_slider .slider__wrapper.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
#projects_slider .slider__wrapper.active .slider__item h4::selection {
  background-color: transparent;
}
#projects_slider .slider__wrapper.active .slider__item h4::-moz-selection {
  background-color: transparent;
}
#projects_slider .slider__wrapper .slider__item {
  position: relative;
  height: 200px;
  min-width: 300px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 5px 5px 10px -3px rgba(23, 48, 79, 0.55);
  border-radius: 12px;
  background-size: cover;
}
#projects_slider .slider__wrapper .slider__item h4 {
  position: absolute;
  margin: 0;
  color: #ffffff;
}
#projects_slider .slider__wrapper .slider__item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 12px;
  background: rgba(23, 21, 33, 0.55);
}
#projects_slider .slider__wrapper #al {
  background-image: url("./images/proj-slider/wix.png");
}

#skills {
  margin-top: 50px;
}
#skills .skills-list {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}
#skills .skills-list li {
  height: 75px;
  width: 75px;
  box-shadow: 0px 8px 54px rgba(40, 52, 67, 0.15);
  list-style-type: none;
  color: transparent;
  border-radius: 12px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}
#skills .skills-list li::selection {
  background-color: transparent;
}
#skills .skills-list li::-moz-selection {
  background-color: transparent;
}
#skills #js {
  background-image: url("./images/icons/technology/js.svg");
}
#skills #html5 {
  background-image: url("./images/icons/technology/html-5.svg");
}
#skills #css3 {
  background-image: url("./images/icons/technology/css-3.svg");
}
#skills #git {
  background-image: url("./images/icons/technology/git.svg");
}
#skills #bash {
  background-image: url("./images/icons/technology/bash.svg");
}
#skills #linux {
  background-image: url("./images/icons/technology/linux.svg");
}
#skills #react {
  background-image: url("./images/icons/technology/react.svg");
  background-size: 70px 70px;
}
#skills #php {
  background-image: url("./images/icons/technology/php.svg");
  background-size: 50px 50px;
}
#skills #ux_ui {
  background-image: url("./images/icons/technology/figma.svg");
  background-size: 40px 40px;
}
#skills #adobe {
  background-image: url("./images/icons/technology/adobe.svg");
}
#skills p {
  color: #a8a8a8;
  font-size: 16px;
  line-height: 20px;
}

footer {
  position: absolute;
  bottom: 55px;
  left: 52px;
}
footer .footer_container {
  justify-self: flex-end;
  text-align: center;
}
footer .footer_container .footer_text {
  text-align: center;
  font-size: 10px;
  color: #ffffff;
}
footer .footer_container .footer_text a {
  color: #654DEE;
}
footer .footer_container .logo {
  max-width: 100px;
}
footer .footer_container address {
  margin-top: 10px;
  font-size: 10px;
}

ul {
  padding-left: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #171521;
  font-family: Montserrat;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body__container {
  position: relative;
  display: flex;
  width: 1440px;
  min-height: 800px;
  margin: 100px 0;
  background-color: #ffffff;
  border-radius: 40px;
}

.default_button {
  display: block;
  width: max-content;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: white;
  background: #654DEE;
  padding: 15px 26px;
  border-radius: 8px;
  text-decoration: none;
  margin: 30px 0;
  transition: all 0.3s ease;
}
.default_button:hover {
  background: #171521;
}

/*# sourceMappingURL=style.css.map */
